.Header {
	background-color: $primary-blue;
	height: 110px;
	border-radius: 0px 0px 0px 80px;

	&__container {
		display: flex;
		width: 80%;
		margin: 0 auto;
		max-width: 900px;

		&--title {
			flex: 0 0 50%;
			color: #fff;
		}

		&--switch {
			flex: 0 0 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
