@import './variables';
@import './jobboard';
@import './job';
@import './header';
@import './search';

// base
* {
	font-family: 'Roboto';
}

body {
	margin: 0;
	background-color: $background-color;
}

// #5965e0
